body {
  background-color: gray;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 6.5em repeat(2, 1fr);
}

.title {
  grid-column: 1 / 3;
  color: darkgreen;
  text-align: center;
  background-color: burlywood;
}

.menu {
  margin: 1.2em 0 0 0;
  grid-row: 2 / 4;
}

.menu p {
  border-bottom: 1px chocolate solid;
  margin: 0 2em 0 0;
  padding: 7px;
  width: 12em;
}
.menu p:last-child {
  border-bottom: 0;
}

.menu-item:hover {
  background-color: darkgoldenrod;
  color: white;
}
.menu-item {
  color: burlywood;
  text-decoration: none;
}
.menu-item:visited {
  color: khaki;
}
